.card {
  width: 500px;
  height: 300px;
  position: relative;
  border-radius: 12px;
  cursor: pointer;
  overflow: hidden;
}
.cardHeader {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cardHeader > img {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
  transition: all 1s;
}
.cardHeader::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  border-radius: 12px;
  transition: all 1s;
}
.name {
  position: absolute;
  font-size: 40px;
  color: white;
  z-index: 100;
  opacity: 1;
  transition: all 2s;
}

.cardDetail {
  position: absolute;
  height: 100%;
  width: 50%;
  top: 0;
  right: -50%;
  background-color: white;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  transition: all 1s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid lightgray;
  border-left: none;
}
.cardDetail .group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cardDetail .group > * {
  margin: 5px;
}
.cardDetail .group > .detail {
  font-size: 22px;
  font-weight: bold;
  color: rgb(95, 90, 90);
}
.cardDetail .group > .value {
  font-size: 20px;
  color: lightgray;
}
.card:hover img {
  width: 50%;

  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.card:hover .cardHeader::after {
  background-color: rgba(0, 0, 0, 0.3);
}

.card:hover .cardDetail {
  right: 0;
}

.card:hover .name {
  top: -100%;
  opacity: 0;
}

.btnDelete {
  padding: 10px 20px;
  background-color: rgb(90, 12, 12);
  border: 2px solid rgb(90, 12, 12);
  border-radius: 12px;
  color: white;
  cursor: pointer;
}
.btnDelete:hover {
  background-color: rgb(109, 16, 16);
}
