.containerActivity {
  width: 80%;
  margin: 20px auto;

  display: grid;
  gap: 10px;
  overflow: hidden;
}

.content {
  width: 100%;
  display: grid;
  /* grid-template-columns: repeat(2, 1fr); */
  gap: 10px;
}
.title {
  font-size: 35px;
  font-weight: 300;
  color: rgb(100, 97, 97);
  margin: 20px auto;
  font-weight: bold;
}
.boxForm {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.formActivity {
  width: 90%;
  margin: 0 auto;
}

.form {
  display: grid;
  gap: 20px;
}

.formGroup {
  display: grid;
  gap: 10px;
  margin-bottom: 10px;
}

.groupDouble {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 80% 20%);
}
.btnShow {
  display: block;
  margin-left: 10px;
  cursor: pointer;
  background-color: #12b77c;
  color: white;
  border: 2px solid #12b77c;
  font-size: 18px;
  border-radius: 10px;
}
.btnShow:hover {
  background-color: #079465;
  border: 2px solid #079465;
}
.formLabel {
  font-size: 20px;
  color: rgb(100, 97, 97);
  font-weight: 500;
}

.formInput,
.formSelect {
  height: 60px;
  font-size: 18px;
  padding-left: 10px;
  outline: none;
  border: 2px solid #ccc;
  border-radius: 12px;
}

.formInput:focus,
.formSelect:focus {
  box-shadow: 0px 0px 20px #ccc;
}

input[type="range"] {
  height: 25px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
}
input[type="range"]:focus {
  outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #12b77c;
  border-radius: 1px;
  border: 0px solid #000000;
}
input[type="range"]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid #12b77c;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #a1d0ff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7px;
}
input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #12b77c;
}
input[type="range"]::-moz-range-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #12b77c;
  border-radius: 1px;
  border: 0px solid #000000;
}
input[type="range"]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid #12b77c;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #079465;
  cursor: pointer;
}
input[type="range"]::-ms-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type="range"]::-ms-fill-lower {
  background: #12b77c;
  border: 0px solid #000000;
  border-radius: 2px;
  box-shadow: 0px 0px 0px #000000;
}
input[type="range"]::-ms-fill-upper {
  background: #12b77c;
  border: 0px solid #000000;
  border-radius: 2px;
  box-shadow: 0px 0px 0px #000000;
}
input[type="range"]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid #12b77c;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #079465;
  cursor: pointer;
}
input[type="range"]:focus::-ms-fill-lower {
  background: #12b77c;
}
input[type="range"]:focus::-ms-fill-upper {
  background: #12b77c;
}

.btnCreate {
  height: 60px;
  background-color: #12b77c;
  color: white;
  font-size: 18px;
  border-radius: 8px;
  cursor: pointer;
  border: 2px solid #12b77c;
}

.btnCreate:hover {
  background-color: #079465;
  border: 2px solid #079465;
}
.activities {
  display: flex;
  justify-content: center;
  align-items: center;
}

.activities > h2 {
  font-size: 35px;
  font-weight: 300;
  color: rgb(100, 97, 97);
  margin: 20px auto;
  font-weight: bold;
}

.description {
  display: grid;
  text-align: center;
}

.verifications {
  display: grid;
  grid-template-rows: repeat(2, 40% 60%);
  padding: 20px;
  gap: 20px;
}
.validations {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  align-items: center;
  border: 2px solid rgb(236, 235, 235);
  border-radius: 12px;
}

.error > span {
  font-size: 20px;
  font-weight: lighter;
}

.loader {
  width: 30px;
  height: 30px;
  margin: 0 auto;
  border: 5px dotted rgb(199, 196, 196);
  border-radius: 50%;
  border-right-color: white;
  animation: turn 1.2s infinite linear;
}
.message {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.message > span {
  font-size: 25px;
  font-weight: lighter;
  animation: animatedText 1.5s infinite linear alternate;
}

@keyframes turn {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes animatedText {
  100% {
    opacity: 1;
  }

  0% {
    opacity: 0.4;
  }
}
.cardActivities {
  border: 2px solid rgb(236, 235, 235);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cardActivities > h3 {
  font-size: 24px;
  font-weight: 400;
  margin: 20px 0;
}

.badges {
  width: 80%;
  padding: 20px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 15px;
}

.badge {
  position: relative;
  width: 80px;
  height: 80px;

  border-radius: 50%;
  cursor: pointer;
  overflow: hidden;
  transition: all 2s ease-in-out;
}

.badge > img {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid lightgrey;
}

.badge::after {
  content: "";
  position: absolute;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  transition: all 0.5s;
}

.badge:hover::after {
  right: 0;
}

.badge > span {
  position: absolute;
  top: 50%;
  left: -100%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 20px;
  font-weight: bold;
  z-index: 100;
  transition: all 0.5s;
}
.badge:hover > span {
  left: 50%;
}

.wh100 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.activities {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 10px;
}

.empty {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
.contenido {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contenido > p {
  font-size: 100px;
}
.contenido > h3 {
  font-size: 24px;
  text-wrap: wrap;
  width: 50%;
  margin: 10px auto;
  text-align: center;
  font-weight: 300;
  line-height: 34px;
}

.difficulty {
  font-size: 20px;
  font-weight: 500;
  color: rgb(100, 97, 97);
  margin: 10px auto;
  text-align: center;
}
