.inputSearch {
  width: 500px;
  height: 50px;
  outline: none;
  background-color: #075e43;
  border: 1px solid #075e43;
  border-radius: 8px;
  color: white;
  padding-left: 10px;
  font-size: 18px;
}
.inputSearch::placeholder {
  color: rgba(255, 255, 255, 0.5);
}
.inputSearch:focus {
  background-color: #074d39;
  border: 1px solid #074d39;
  box-shadow: 0 0 10px #074d39;
}

.btnReset {
  width: 80px;
  cursor: pointer;
}
