.paginated {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.paginated button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #12b77c;
  background-color: #12b77c;
  color: white;
  font-size: 12px;
  outline: none;
  cursor: pointer;
}
.paginated span {
  margin: 0 10px;
  font-size: 18px;
}
.paginated button:hover {
  background-color: #079465;
}
.paginated button:disabled {
  background-color: #a8f2ce;
  border: 1px solid #a8f2ce;
  color: #067654;
  cursor: not-allowed;
}
